:root {
    /* colours */
    --primary: #cd4631;
    --secondary: #55828b;
    --headerBg: #364958;
    --headerColor: white;
    --footerBg: #c7c7c7;
    --footerColor: black;
    --navBg: #ededed;
    --navColor: var(--secondary);
    --subNavBg: #d9d9d9;
    --linkColor: var(--primary);
    --cardBg: var(--navBg);
    --tableBg: var(--navBg);
    --badgeBg: #b1b1b1;
    --primaryBtnHover: #be4532;
    --secondaryBtnHover: #4c7179;

    /* sizing */
    --maxPageWidth: 1400px; /* doesn't do anything currently */

    /* fonts */
    --headingFont: Arial, Helvetica, sans-serif;
    --bodyFont: Arial, Helvetica, sans-serif;
}
