# ------------------------------------------------------------------------------------------------------
# ENV settings for the Prez layer package.
#
# IMPORTANT: you most likely want to edit the .env settings in the core Prez UI repo 
#            (running this layer as a standalone app currently has an issue to resolve).
#
#
# Create your own .env or .env.local file in the root of the core package to override these settings,
# alternatively you can set these variables in your hosting environment.
#
# The NUXT_PUBLIC_ prefix is used to expose the variables to the client side, this is a NUXT standard.
# NUXT_PUBLIC_ env variables are runtime variables that do not require a rebuild to update.
# 
# NUXT_PUBLIC_PREZ_API_ENDPOINT = The endpoint for the API that the core package will use to fetch data.
# NUXT_PUBLIC_PREZ_UTILS_TEST_PATH = The path to a test data endpoint used in the /_prez/ tools mode.
# 
#
# These non-NUXT_PUBLIC_ variables are used to configure the core package at build time.
# 
# PREZ_CORE_EXTENDS = Run the Prez core system with one or more custom extensions (comma separated path).
# ------------------------------------------------------------------------------------------------------

NUXT_PUBLIC_PREZ_API_ENDPOINT=http://localhost:8000
NUXT_PUBLIC_PREZ_UTILS_TEST_PATH=/catalogs/ns:catId/collections/ns:colId/items/ns:itemId

# ------------------------------------------------------------------------------------------------------
# These non-NUXT_PUBLIC_ variables are used to configure the core package at build time.
# 
# PREZ_CORE_EXTENDS = Run the Prez core system with one or more custom extensions (comma separated path).
#
# Note: only needed if attempting to run a layer app as a standalone app.
# PREZ_LAYER_EXTENDS = Extend a Prez core github repo with a custom branch or tag.
# ------------------------------------------------------------------------------------------------------

PREZ_LAYER_EXTENDS="github:RDFLib/prez-ui/packages/core#hjohns/next/alpha"
#PREZ_LAYER_EXTENDS=../../../prez-ui/packages/core

#PREZ_CORE_EXTENDS=../../project-root
