@mixin transitionAll($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition($x...) {
    $duration: 0.2s;
    $effect: ease-in-out;

    $y: ();
    @each $prop in $x {
        $y: append($y, join($prop, $duration $effect), comma);
    }
    
    @include transitionAll($y);
}