// colours
$primary: #cd4631;
$secondary: #55828b;

$headerBg: #364958;
$headerColor: white;
$mainBg: white;
$linkColor: #cd4631;
$footerBg: #c7c7c7;
$footerColor: black;
$navBg: #ededed;
$navColor: #55828b;
$cardBg: $navBg;
$tableBg: $navBg;
$badgeBg: #b1b1b1;

// fonts
$bodyFont: Arial, Helvetica, sans-serif;;
$headerFont: Arial, Helvetica, sans-serif;;

// sizing
$pageMaxWidth: 1400px;
$borderRadius: 4px;
