// colours
$primary: #cd4631;
$secondary: #55828b;

$headerBg: #364958;
$headerColor: white;
$mainBg: white;
$linkColor: #cd4631;
$footerBg: #bbbbbb;
$footerColor: black;
$navBg: #e6e8e6;
$navColor: #55828b;
$cardBg: $navBg;
$tableBg: $navBg;

// fonts
$bodyFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$headerFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// sizing
$pageMaxWidth: 1400px;
$borderRadius: 4px;
