* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: var(--bodyFont);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--headerBg);
    color: var(--headerColor);
}

footer {
    background-color: var(--footerBg);
    color: var(--footerColor);
}

#app {
    display: flex;
    flex-direction: column;
    // height: 100%;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}

h1.page-title {
    margin-top: 0;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    small {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;

        &.iri {
            font-size: 0.5em;
        }

        &.type {
            font-size: 0.4em;
        }
    }
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    padding: 6px 8px;
    border-radius: $borderRadius;
    @include transition(color, background-color);

    &:hover:not(:disabled) {
        background-color: var(--primaryBtnHover);
    }

    &.outline {
        background-color: transparent;
        color: var(--primary);

        &:hover:not(:disabled) {
            background-color: var(--primary);
            color: white;
        }
    }

    &.sm {
        font-size: 0.7em;
        padding: 4px 6px;
    }

    &.lg {
        font-size: 1.1em;
        padding: 8px 10px;
    }

    &:disabled {
        cursor: default;
        opacity: 0.6;
    }
}

.badge {
    padding: 2px 4px;
    // border: 1px solid var(--secondary);
    background-color: var(--badgeBg);
    color: white;
    border-radius: $borderRadius;
    font-size: 0.8rem;  
    // float:right;

    &.outline {
        border: 1px solid var(--secondary);
        background-color: transparent;
        color: var(--secondary);
    }
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    border: 1px solid #aaaaaa;
    padding: 8px;
    border-radius: $borderRadius;
    background-color: white;
}